.header-content {
  display: block;
  background-color: $color-1;
  border-radius: 1rem;
  margin-top: 0.5rem;

  @media (min-width: 720px) {
    display: flex;
    justify-content: space-between;
  }
}

.header-content_header-title {
  margin: 1rem 2rem;
  color: $color-2;
}

.header-content_header-nav {
  margin: 1rem 2rem;
  height: 100%;
  padding-bottom: 1rem;
}

.header-content_header-nav_show-menu {
  background-color: $color-2;
  width: 2rem;
  height: 0.15rem;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -150%;
    left: 0;
    background-color: $color-2;
    width: 2rem;
    height: 0.15rem;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -150%;
    left: 0;
    background-color: $color-2;
    width: 2rem;
    height: 0.15rem;
  }
}

.header-content_header-nav_menu {
  // display: none;

  @media (min-width: 720px) {
    // display: flex;
  }

  list-style: none;

  li {
    margin: 0 0.5rem;

    a {
      text-decoration: none;
      color: $color-2;
      font-size: 1.5rem;
      transition: 0.4s;
      &:hover {
        color: lighten($color-2, 30%);
      }
    }
  }
}
